section#home-banner.home-page-banner(data-title='Trang Chủ')
	.banner-wrapper
		.swiper-container
			.swiper-wrapper
				-for(i=0;i<2;i++)
					.swiper-slide
						.img
							img(src="./img/home/bn1.png" alt="")
						.box-text Công ty Cổ phần Dịch vụ Quản lý Bất động sản Independent “Cung cấp dịch vụ chất lượng cao với chi phí hợp lý nhất”
						.wrap-scroll
							span.ri-arrow-down-s-line
				-for(i=0;i<5;i++)
					.swiper-slide
						.img
							img(src="./img/home/bg2.png" alt="")
						.box-text Công ty Cổ phần Dịch vụ Quản lý Bất động sản Independent “Cung cấp dịch vụ chất lượng cao với chi phí hợp lý nhất”
						.wrap-scroll
							span.ri-arrow-down-s-line



