section.home-6.main-section(setBackground="./img/home/bg6.png")
	
	.container 
		.section-title.backInDown.text-center tin tức
		.row.no-gutters
			.col-lg-6
				.big-img
					a(href="").img
						img.lazyload(data-src="./img/home/bn1.png")
					.text-wrap
						.time 22/11/2020
						a(href="").title Tổ chức TEAM BUILDING 2020
			.col-lg-6
				.box-wrap
					.row.no-gutters
						.col-lg-6
							.box-text
								.top
									.time 22/11/2020
									a(href="").title Hệ thống quản lý toà nhà đặt chuẩn quốc tế của Independent
								.btn.btn-bgtran
									a(href="") Xem thêm
									em.lnr.lnr-arrow-right

						.col-lg-6
							.box-img
								.img
									img.lazyload(data-src="./img/home/bn1.png")
			.col-lg-6
				.box-wrap
					.row.no-gutters
						.col-lg-6
							.box-text
								.top
									.time 22/11/2020
									a(href="").title Hệ thống quản lý toà nhà đặt chuẩn quốc tế của Independent
								.btn.btn-bgtran.blue
									a(href="") Xem thêm
									em.lnr.lnr-arrow-right

						.col-lg-6
							.box-img
								.img
									img.lazyload(data-src="./img/home/bn1.png")
			.col-lg-6
				.box-wrap
					.row.no-gutters
						.col-lg-6
							.box-text
								.top
									.time 22/11/2020
									a(href="").title Hệ thống quản lý toà nhà đặt chuẩn quốc tế của Independent
								.btn.btn-bgtran.blue
									a(href="") Xem thêm
									em.lnr.lnr-arrow-right

						.col-lg-6
							.box-img
								.img
									img.lazyload(data-src="./img/home/bn1.png")
		.button
			.btn.btn-primary
				a(href="") Xem thêm
				em.lnr.lnr-arrow-right
