section.wrap-slide-s4.home-4
    .s4-left
        .box-text.moveInRight
            .section-title.white Dịch vụ
            .desc Công ty chúng tôi rất vui khi mang đến cho quý khách nhiều dịchCông ty chúng tôi rất vui khi mang đến cho quý khách nhiều dịch mang đến cho quý khách nhiều dịchCông ty chúng tôi rất vui khi mang đến cho quý khách nhiều dịch mang đến cho quý khách nhiều dịchCông ty chúng tôi rất vui khi mang đến cho quý khách nhiều dịch
            .btn.btn-primary
                a(href="") Xem thêm
                em.lnr.lnr-arrow-right
    .s4-right
        #ka-swiper1.swiper-container
            .swiper-wrapper
                -for (i=0; i<8; i++)
                    .swiper-slide
                        .wrapper
                            a(data-fancybox='gallery' href="./img/home/bg2.png" alt="")
                                img(src="./img/home/bg2.png" alt="")
                            .box-info
                                .title Quản lý vận hành chung cư
                                .btn.btn-wrap
                                    a(href="") Xem thêm
                                    em.lnr.lnr-arrow-right
