section.home-index3

	.slider
		.swiper-container
			.swiper-wrapper
				-for(x=0;x<4;x++)
					.swiper-slide
						.box-wrap
							.box-text
								.heading Dự án
								.section-title.white Chung Cư Garden Plaza
								.desc.fadeInTopLeft  Cuộc sống lý tưởng dựa trên hạnh phúc của cộng đồng trên hạnh phúc của cộng đồng rên hạnh phúc của cộng đồng trên hạnh phúc của cộng đồng
								.btn.btn-primary
									a(href="") Xem thêm
									em.lnr.lnr-arrow-right
							.box-img
								.img
									img.lazyload(data-src="./img/home/bg2.png", alt="")
		
		.button-prev
			i.ri-arrow-left-s-line
		.button-next
			i.ri-arrow-right-s-line
		
