section.home-2.main-section(setBackground="./img/home/bg1.png")
	.container.animation-bottom
		.wrap-box
			.wrap-left
				
				.section-title giới thiệu
					|
				.des.fadeInTopLeft
					| Được hình thành từ hai đơn vị nòng cốt: Công ty Cổ phần Đầu tư Kinh doanh BĐS Star Beach và Công ty Cổ phần Đầu tư Thương mại Dịch vụ Địa ốc Thái Dương.
					
				.list.backInUp
					ul.type-none
						li
							.img
								img.lazyload(data-src="./img/home/iconkn.png", alt="")
							.title-sub 
								span 10
								p Năm kinh nghiệm
						li
							.img
								img.lazyload(data-src="./img/home/iconkh.png", alt="")
							.title-sub 
								span 10
								p Năm kinh nghiệm
						li
							.img
								img.lazyload(data-src="./img/home/iconda.png", alt="")
							.title-sub 
								span 10
								p Năm kinh nghiệm

				.btn.btn-primary
					a(href="") Xem thêm
					em.lnr.lnr-arrow-right
	.wrap-right.backInUp
		a(data-fancybox="images" href="./img/home/a1.png").img
			img.lazyload(data-src="./img/home/a1.png", alt="")
			
		