footer
	.container
		.row
			.col-lg-5
				.box-left
					.title
					ul
						li
							em.marterial-icons fmd_good
							p TM-02  Chung cư Florita , đường D1, KDC Him Lam P.Tân Hưng Q.7
			.col-lg-7
				.box-right