//- section.home-7(setBackground="./img/background-footer.png")
section.home-7(setBackground="./img/bg-footer1.png")
	.container
		.row
			.col-lg-5.col-md-6
				.box-left
					
					ul.type-none
						li
							.heading Công ty CP Dịch vụ Quản lý Bất động sản Independent (IPS)
							.info
								em.material-icons fmd_good
								.text TM-02  Chung cư Florita , đường D1, KDC Him Lam P.Tân Hưng Q.7
						li
							.heading điện thoại
							.info
								em.material-icons local_phone
								.text 0918 807 863 – 0917 010 863
						li
							.heading Fax
							.info
								em.material-icons date_range
								.text Thứ 2 – Thứ 7 : 8am đến 5pm 
						li
							.heading EmaiL
							.info
								em.material-icons email
								.text info@independent.vn
						li
							.social
								
								.item
									a(href="")
										i.ri-twitter-fill
								.item
									a(href="")
										i.ri-facebook-fill
								.item
									a(href="")
										i.ri-youtube-fill
								.item
									a(href="")
										i.ri-instagram-line
							


			.col-lg-7.col-md-6
				.box-right-top
					.row
						.col-lg-4
							.box-wrap
								.title-sup Dịch vụ
								ul.type-none
									li
										a(href="" ) Quản lý vận hành chung cư
									li
										a(href="" ) Bảo trì hệ thống kĩ thuật
									li
										a(href="" ) Chăm sóc cây xanh
									li
										a(href="" ) Sữa chữa nhà cửa 
						.col-lg-4
							.box-wrap
								.title-sup Dịch vụ
								ul.type-none
									li
										a(href="" ) Quản lý vận hành chung cư
									li
										a(href="" ) Bảo trì hệ thống kĩ thuật
									li
										a(href="" ) Chăm sóc cây xanh
									li
										a(href="" ) Sữa chữa nhà cửa 
						.col-lg-4
							.box-wrap
								.title-sup Dịch vụ
								ul.type-none
									li
										a(href="" ) Quản lý vận hành chung cư
									li
										a(href="" ) Bảo trì hệ thống kĩ thuật
									li
										a(href="" ) Chăm sóc cây xanh
									li
										a(href="" ) Sữa chữa nhà cửa 
				.box-form
					.section-title Dịch vụ
					.wrap-form
						.form-row
							.form-group
								input(type="text" placeholder="Tên")
							.form-group
								input(type="text" placeholder="Email")
						.form-row
							.form-group
								input(type="text" placeholder="Điện thoại")
							.form-group
								input(type="text" placeholder="Địa chỉ")
						.form-group
							textarea(name="" cols="30" rows="10" placeholder="Nội dung")
						.form-group.frm-btnwrap
							.frm-btn
								//- .btn.btn-primary.text-center
									//- a(href="") Gửi
								input(type="submit" value="Gửi ")
				.copyright
					span Copyright © 2020 Bản quyền thuộc về TLM Corp. Thiết kế Website bởi
					a(href="https://www.canhcam.vn/thiet-ke-website?gclid=cjwkcaiag8obbha8eiwalkw3krucdtoh4z3o84bxdbxxmstdm8lkuanobgj90lauraxei2evkr74jbocemyqavd_bwe")  Cánh Cam.
