section.home-5.main-section(setBackground="./img/home/bg5.png")
	.container.animation-right
		.title-center
			.section-title.main.backInDown.text-center khách hàng của chúng tôi
		.sub-title.text-center Independent không chỉ mang đến một giá trị cuộc sống mới mà luô không chỉ mang đến một giá trị cuộc sống mới mà luô
		.row
			-for(x=0;x<12;x++)
				.col-lg-2.col-md-4.col-sm-6
					.box-item
						.img
							a(href="")
								img.lazyload(data-src="./img/home/kh1.png")

	
