
header
    
    .container
        .header-wrap
            .logo
                a(href="").img
                    img.lazyload(data-src="./img/logo1.png", alt="")
            .primary-menu
                ul
                    li.active
                        .title
                            a(href="")
                                em.material-icons home
                    li.dropdown-menu
                        .title
                            a(href="") Giới thiệu
                            em.ri-arrow-down-s-line
                        .dropdown
                            .dropdown-item
                                a(href="") Item 1
                            .dropdown-item
                                a(href="") Item 1
                            .dropdown-item
                                a(href="") Item 1
                    li.dropdown-menu
                        .title
                            a(href="") Dự Án
                            em.ri-arrow-down-s-line
                        .dropdown
                            .dropdown-item
                                a(href="") Item 1
                            .dropdown-item
                                a(href="") Item 1
                            .dropdown-item
                                a(href="") Item 1
                    li
                        .title
                            a(href="") Tin tức
                
                    li
                        .title
                            a(href="thu-vien-anh.html") Thư viện
                    li
                        .title
                            a(href="") tuyển dụng 
                    li
                        .title
                            a(href="lien-he.html") Liên hệ
            .box-right
                .wrap-language VN
                    .dropdown
                        a(href="").item EN
                .search-wrap
                    a(href="javascript:;" data-fancybox="" data-src="#popup-search")
                        i.material-icons search
            .toggle-menu
                span
                span
                span
                span
.box-search#popup-search(style=" display:none")
    .search-box
        input(type="text" placeholder="Search")
        .button
            a(href="")
            em.material-icons search



